#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #007DFE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #007DFE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #007DFE;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 97px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 116px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 47px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Panel_3 {
  border-left-width: 16px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_45 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_46 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_48 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_49 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_50 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_51 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_52 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_54 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_55 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_56 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_57 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_58 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Rich_text_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Rich_text_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_80 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_81 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed #s-Label_84 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-0fa6dd09-4e28-432e-99c8-c3f6dab98aed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}