#s-d12245cc-1680-458d-89dd-4f0d7fb22724 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 568px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_62 {
  position: absolute;
  top: 0px;
  left: 55px;
  width: 201px;
  height: 44px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 201px;
  height: 44px;
  background-color: #C9C9CE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_6 {
  position: absolute;
  top: 8px;
  left: 6px;
  padding-left: 22px;
  width: 169px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_6 input {
  color: #C0C0C0;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_97 {
  position: absolute;
  top: 7px;
  left: 68px;
  width: 44px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 255px;
  width: 57px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_63 {
  position: absolute;
  top: 245px;
  left: 279px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_73 {
  position: absolute;
  top: 45px;
  left: 305px;
  width: 15px;
  height: 521px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_54 {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 320px;
  height: 521px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 {
  width: 320px;
  height: 521px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_60 {
  padding-left: 14px;
  width: 306px;
  height: 21px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_60 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_39 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_61 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_61 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_32 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_40 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_62 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_62 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_41 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_63 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_63 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_42 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_64 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_64 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_43 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_65 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_65 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_66 {
  padding-left: 14px;
  width: 306px;
  height: 21px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_66 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_44 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_67 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_67 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_47 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_70 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_70 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_45 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_68 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_68 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_38 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_46 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_69 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_69 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_48 {
  width: 319px;
  height: 46px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_71 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_41 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_72 {
  padding-left: 14px;
  width: 306px;
  height: 21px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 700;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_72 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_49 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_73 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_73 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_42 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_50 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_74 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_74 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_51 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_75 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_75 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_44 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_52 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_76 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_76 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_45 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_53 {
  width: 319px;
  height: 45px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_77 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 304px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_77 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_map_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_55 {
  width: 320px;
  height: 53px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 51px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_19 span#rtr-s-Rich_text_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_75 {
  position: absolute;
  top: 13px;
  left: 148px;
  width: 31px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_76 {
  position: absolute;
  top: 8px;
  left: 212px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_77 {
  position: absolute;
  top: 7px;
  left: 273px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_78 {
  position: absolute;
  top: 7px;
  left: 84px;
  width: 25px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_79 {
  position: absolute;
  top: 7px;
  left: 18px;
  width: 28px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_80 {
  position: absolute;
  top: 37px;
  left: 8px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #919191;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_80 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_81 {
  position: absolute;
  top: 37px;
  left: 71px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #919191;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_81 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_82 {
  position: absolute;
  top: 37px;
  left: 135px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0D7AFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_82 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_83 {
  position: absolute;
  top: 37px;
  left: 198px;
  width: 52px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #919191;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_83 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_84 {
  position: absolute;
  top: 37px;
  left: 263px;
  width: 45px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #919191;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: 400;
  line-height: 8pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_84 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_74 {
  position: absolute;
  top: 1px;
  left: 305px;
  width: 15px;
  height: 519px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}